.menu li a i {
  margin-right: 8px;
  color: #333;
}

.menu li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
h2  {
  color: #070606;
  margin-bottom: 20px;
}
h1 {
  color: #070606;
  margin-bottom: 20px;
}   
h3 {
  color: #070606;
  margin-bottom: 15px;
}           
h4 {
  color: #070606;
  margin-bottom: 10px;
}